:root {
  --main-font: "Dosis", sans-serif;
  --body-font:
  --primary-color: beige;
}

h1 {
  padding-top: 10px;
  font-size: 42px;
  color: beige;
  font-family: var(--main-font)
}

body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/425/original/7635521.jpg?1650573550');
  background-size: cover;
  height: 100vh;
}

.header {
  padding: 0;
}