:root {
  --main-font: "Dosis", sans-serif;
  --body-font:
  --primary-color: beige;
}

h1 {
  padding-top: 10px;
  font-size: 42px;
  color: beige;
  font-family: var(--main-font)
}

body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/026/252/original/5797334.jpg?1643809928');
  background-size: cover;
  height: 100vh;
}

.header {
  padding: 0;
}